/******************** GENERAL *************************/

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu';
  font-weight: 300;
  background: rgba(41, 50, 60, 0.8);
  overflow: hidden;
}

a {
  color: #fff;
}

a:hover {
  color: skyblue;
}

.header-title {
  position: absolute;
  height: 40px;
  width: 100%;
  color: white;
  font-weight: 900;
  text-align: center;
  padding-top: 30px;
  font-size: 24px;
  letter-spacing: 3px;
  z-index: 1;
  text-transform: uppercase;
  text-shadow: 0px 0px 10px #fff;
  line-height: 40px;
}

/******************** MAP *************************/

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
  padding: 0;
}


/******************** CONTROLS *************************/
.mapboxgl-ctrl-logo {
  display: none !important;
}

.mapboxgl-ctrl-scale {
  height: 20px !important;
}

.scale-pos {
  position: absolute;
  z-index: 1;
  bottom: 25px;
  right: 15px;
}

.mapboxgl-ctrl-group button {
  width: 22px !important;
  height: 22px !important;
}

.campass-pos {
  position: absolute;
  z-index: 1;
  bottom: 50px;
  right: 15px;
}


/******************** POPUP *************************/
.popup {
  background-color: #29323c;
  position: absolute;
  top: 10px;
  left: 10px;
  box-shadow: 0px 0px 20px rgba(41, 50, 60);
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 12px;
  display: none;
  font-size: 14px;
  z-index: 10;
}

.popup p:nth-child(1) {
  color: white;
  font-size: 16px;
  margin-bottom: 20px;
}

.popup p {
  color: #aaaaaa;
  margin: 15px;
}

.popup span {
  color: #ffffff;
}


.pop-up {
  background-color: #29323c;
  position: absolute;
  top: 10px;
  left: 10px;
  box-shadow: 0px 0px 20px rgba(41, 50, 60);
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 12px;
  display: none;
  font-size: 14px;
  z-index: 10;
}

.pop-up p:nth-child(1) {
  color: white;
  font-size: 16px;
  margin-bottom: 20px;
}

.pop-up p {
  color: #aaaaaa;
  margin: 15px;
}

.pop-up span {
  color: #ffffff;
}


/******************** SIDE PANEL *************************/
.button-container {
  position: absolute;
  top: 50%;
  margin-left: 450px;
  transform: translate(0, -50%);
  width: 6px;
  height: 100px;
  z-index: 10;
}

.side-panel-button {
  width: 7px;
  height: 100px;
  z-index: 1;
  background: rgba(255, 255, 255, 0.8);
}

.button-container :hover {
  cursor: pointer;
}

.button-container img {
  width: 15px;
  height: 15px;
  margin-left: -4px;
  margin-top: 42px;
}

@-moz-keyframes slideLeft {
  from {
    left: 0px;
  }

  to {
    left: -450px;
  }
}

@-webkit-keyframes slideLeft {
  from {
    left: 0px;
  }

  to {
    left: -450px;
  }
}

@keyframes slideLeft {
  from {
    left: 0px;
  }

  to {
    left: -450px;
  }
}

.slideLeft {
  -moz-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -moz-animation-name: slideLeft;
  -webkit-animation-name: slideLeft;
  animation-name: slideLeft;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.side-panel-container {
  position: absolute;
  background: rgb(41, 50, 60, 0.8);
  /* background: white; */
  width: 450px;
  bottom: 0;
  top: 0;
  box-shadow: 0px 0px 20px #29323c;
  z-index: 1;
  font-size: 15px;
}



.map-selector-container {
  position: relative;
  width: 450px;
  height: 70px;
  margin-top: 10px;
  box-sizing: border-box;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
}


.ms-choice {
  height: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  line-height: 20px;
  color: #fff;
  border-radius: 4px;
  background-color: rgb(41, 50, 60, 0.5);
}

.ms-choice>div.icon-close {
  top: 5px;
}

.ms-search input {
  min-height: 20px;
}

.ms-drop {
  background-color: rgb(41, 50, 60);
  color: #fff;
}

.selector-container li {
  height: 20px;
  margin: 2px 0;
}

.ms-drop ul>li label {
  font-size: 14px;
}

.selector-container li :hover {
  color: rgb(0, 0, 0);
}

.map-selector-container .ms-parent {
  left: 30px;
  top: -16px;
}

.selector-container {
  position: relative;
  top: 0;
  float: left;
  width: 450px;
  height: 30px;
  z-index: 1;
}

.selectTitle {
  display: inline-block;
  margin: 0px 10px;
  color: #fff;
}

.selectTitle span {
  font-size: 12px;
  font-weight: 100;
}

.selectYearMap {
  left: 125px !important;
  top: -12px !important;
}

.model-container {
  width: 450px;
  height: 280px;
  box-sizing: border-box;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
}

.model-container .ms-parent {
  left: 125px;
  top: -12px;
}

#model {
  position: relative;
  top: 0;
}

.graph-container {
  position: relative;
  width: 450px;
  height: 45%;
  box-sizing: border-box;
}

.graph-left {
  width: 250px;
  height: 100%;

}

.selectYear {
  top: 6px;
  left: -160px;
}


.sequence-explain {
  position: absolute;
  margin: 45px 15px;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-weight: 100;
}

#sequence {
  margin-top: 15px;
}

#sequence foreignObject {
  font-size: 12px;
  font-weight: 100;
  color: #fff;
  text-align: center;
}

#chart {
  position: relative;
  margin-top: -20px;
  margin-left: -20px;
}

#chart path {
  stroke: #fff;
  stroke-width: 0.5px;
}

#explanation {
  position: absolute;
  top: 110px;
  left: 72px;
  width: 140px;
  text-align: center;
  color: #fff;
  z-index: 1;
}

.graph-right {
  position: absolute;
  right: 0px;
  width: 200px;
  height: 100%;
  top: 0px;
}

#bar-chart {
  width: 200px;
  height: 100%;
}

/******************** INFO BUTTONS *************************/
.info-container {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 25px;
  height: 50px;
  z-index: 10;
}

.info-map,
.info-legend {
  width: 22px;
  height: 22px;
  z-index: 1;
  background: #fff;
  border: 2px solid #000;
  margin: 2px;
  border-radius: 4px;
}

.info-map,
.info-legend :hover {
  cursor: pointer;
}

.info-container img {
  width: 16px;
  height: 16px;
  margin: 3px;
}


/******************** INFO PANEL *************************/
.info-panel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 680px;
  z-index: 10;
  background: rgb(41, 50, 60, 0.95);
  box-shadow: 0px 0px 20px #29323c;
  /* display: none; */
}

.info-panel .content {
  color: #fff;
  font-size: 18px;
  font-weight: 100;
  padding: 30px 30px;
}

.info-panel p {
  padding: 10px 30px;
  line-height: 30px;
}

.info-panel #got {
  margin: -20px 300px;
  text-align: center;
}

.info-panel #got:hover {
  cursor: pointer;
  color: #e69966;
}

.info-panel img {
  width: 150px;
  height: 110px;
  float: right;
  margin-top: -150px;
}

@-moz-keyframes zoomToIcon {
  from {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 680px;
  }

  to {
    top: 0%;
    left: 100%;
    width: 0px;
    height: 0px;
  }
}

@-webkit-keyframes zoomToIcon {
  from {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 680px;
  }

  to {
    top: 0%;
    left: 100%;
    width: 0px;
    height: 0px;
  }
}

@keyframes zoomToIcon {
  from {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 680px;
  }

  to {
    top: 0%;
    left: 100%;
    width: 0px;
    height: 0px;
  }
}

.animate {
  -moz-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -moz-animation-name: zoomToIcon;
  -webkit-animation-name: zoomToIcon;
  animation-name: zoomToIcon;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}


/******************** INSTRUCTION TIPS *************************/
.tip {
  position: absolute;
  width: 300px;
  top: 5px;
  left: 400px;
  padding: 10px;
  z-index: 10;
  background: rgb(41, 50, 60);
  box-shadow: 0px 0px 20px #7c7c7c;
  color: #fff;
  font-size: 12px;
  font-weight: 100;
  border-radius: 4px;
}

.tip::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  top: 30%;
  border: 8px solid transparent;
  border-left: 0;
  margin-top: -8px;
  margin-left: -8px;

  border-right-color: rgb(41, 50, 60);

}

.tip p {
  position: absolute;
  right: 20px;
  bottom: 0px;
  font-size: 14px;
  font-weight: 400;
}

.got-it:hover {
  cursor: pointer;
  color: #e69966;
}

#tip1 {
  width: 300px;
  height: 120px;
}

#tip2 {
  width: 450px;
  height: 300px;
  top: 100px;
  left: 350px;
}

#tip2 .img-group {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 180px;
  margin-top: 10px;
  margin-left: 20px;
}

#tip2 .img-group img {
  display: block;
  width: 100px;
  height: 40px;
  margin-left: 20px;
}

#tip2 .img-group p {
  position: absolute;
  top: -5px;
  left: -20px;
}

#tip2 #top-view-arrow {
  position: absolute;
  width: 135px;
  height: 45px;
  margin-top: 50px;
  margin-left: -90px;
}

#tip2 #img1 {
  position: absolute;
  width: 180px;
  height: 180px;
  margin-top: -10px;
  margin-left: 40px;
}

#tip3 {
  width: 300px;
  height: 70px;
  top: 390px;
  left: 200px;
}

#tip4 {
  width: 300px;
  height: 100px;
  top: 390px;
  left: 430px;
}

/******************** LEGEND *************************/
.legend {
  position: absolute;
  top: 60px;
  right: 2px;
  width: 210px;
  height: 520px;
  z-index: 1;
  background: rgb(41, 50, 60, 0.8);
  box-shadow: 0px 0px 20px #29323c;
  color: #fff;
  font-size: 12px;
  font-weight: 100;
}

#ring-color {
  margin-left: 10px;
}

.block-color {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-bottom: 3px;
}

.color-text {
  float: left;
  margin-top: -20px;
  margin-left: 40px;
}

#base-map-color {
  width: 180px;
  height: 20px;
  margin-left: 10px;
  background: linear-gradient(to right, #ff7f00, #4ed8b1);
}